@import url(https://fonts.google.com/specimen/Press+Start+2P);

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "pokemonLogo";
  src: url("Pokemon Solid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: "pokemonLogo"; /* Use the custom font in your CSS */
  font-size: 48px; /* Example font size */
  color: #ffcc00; /* Example color */
  -webkit-text-stroke: 1px blue; /* outline width + color */
  border-color: blue;
  text-align: center;
  margin-top: 20px;
}

h2 {
  font-family: "press-start-2p-regular";
  font-size: 16px;
  color: #333;
  text-align: center;
  margin-top: 10px;
}
/* 
Fonts:
Press Start 2P - https://fonts.google.com/specimen/Press+Start+2P


*/
