@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap);

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.press-start-2p {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "pokemonLogo";
  src: url("Pokemon Solid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --type-fire: #bd5555;
  --type-water: #5590bd;
  --type-grass: #55bd6c;
  --type-electric: #e3d55a;
  --type-psychic: #bd5590;
  --type-ice: #55bdbd;
  --type-dark: #705848;
  --type-fairy: #f4adc9;
  --type-normal: #fdfdcb;
  --type-fighting: #c03028;
  --type-flying: #d5c9fa;
  --type-poison: #a040a0;
  --type-ground: #e0c068;
  --type-rock: #b8a038;
  --type-bug: #a8b820;
  --type-ghost: #705898;
  --type-steel: #b8b8d0;
  --type-dragon: #7038f8;
}

.toggleButton {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background: rgba(85, 98, 76, 0.4);
  color: white;
  padding: 26px;
  position: fixed;
  left: -250px;
  top: 0;
  transition: 0.3s;
  align-items: left;
   
}

.sidebar.open {
  left: 0;
}

body {
  margin: 0;
  padding: 20px;
  margin-left: 20px;
  background-color: #d5ffdb;
  font-family: "Press Start 2P", system-ui;
}

.title {
  font-family: "pokemonLogo"; /* Use the custom font in your CSS */
  font-size: 90px; /* Example font size */
  color: #ffcc00; /* Example color */
  -webkit-text-stroke: 1px blue; /* outline width + color */
  border-color: blue;
  text-align: center;
  margin-top: 20px;
  text-shadow: 6px 6px 0 #ff0000, 4px 4px 0 #000000;
}

h2 {
  font-family: "Press Start 2P";
  font-size: 32px;
  color: #333;
  text-align: center;
  margin-top: 10px;
}

.moneyDisplay {
  font-family: "Press Start 2P";
  font-size: 20px;
  color: #333;
  text-align: left;
  margin: 10px 20px 0 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(85, 98, 76, 0.4);
  box-shadow: 20px 10px 10px rgba(11, 37, 3, 0.3);
  padding: 10px;
  border-radius: 8px;
}

.subtitle {
  margin-bottom: 20px;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color: rgba(85, 98, 76, 0.4);
  box-shadow: 20px 10px 10px rgba(11, 37, 3, 0.3);
  margin: 9vh 5vw;
  border-radius: 12px;
}

.card {
  width: 22%;
  min-height: 200px;
  height: 250px;
  background-color: #ffffff;
  box-shadow: 20px 10px 10px rgba(11, 37, 3, 0.364);
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-radius: 12px;
  border: 3px solid rgb(0, 0, 0);
}

.type-fire {
  background-color: var(--type-fire);
}
.type-water {
  background-color: var(--type-water);
}
.type-grass {
  background-color: var(--type-grass);
}
.type-electric {
  background-color: var(--type-electric);
}
.type-psychic {
  background-color: var(--type-psychic);
}
.type-ice {
  background-color: var(--type-ice);
}
.type-dark {
  background-color: var(--type-dark);
}
.type-fairy {
  background-color: var(--type-fairy);
}
.type-normal {
  background-color: var(--type-normal);
}
.type-fighting {
  background-color: var(--type-fighting);
}
.type-flying {
  background-color: var(--type-flying);
}
.type-poison {
  background-color: var(--type-poison);
}
.type-ground {
  background-color: var(--type-ground);
}
.type-rock {
  background-color: var(--type-rock);
}
.type-bug {
  background-color: var(--type-bug);
}

.cardButton {
  font-family: "Press Start 2P";
  font-size: 12px;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.cardButton:hover {
  background-color: #f0f0f0;
  font-size: 14px;
  transition: all 0.3s ease;
}

.cardButton:active {
  font-size: 12px;
}

.cardPokemon {
  font-family: "Press Start 2P";
  font-size: 20px;
  color: #000000;
  text-shadow: #ffffff 1px 1px 0;
  text-align: center;
  margin: 0px 0;
}

.card img {
  width: 150px;
  height: 150px;
}

.levelButton {
  font-family: "Press Start 2P";
  font-size: 12px;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.levelButton:hover {
  background-color: #f0f0f0;
  font-size: 14px;
  transition: all 0.3s ease;
}
.levelButton:active {
  font-size: 12px;
}

.subHeader {
  font-family: "Press Start 2P";
  font-size: 24px;
  color: #333;
  text-align: left;
  margin-top: 10px;
  margin-left: 5vw;
}

.Hidden {
  display: none;
}


/* 
Fonts:
Press Start 2P - https://fonts.google.com/specimen/Press+Start+2P


*/
