@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap);

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.press-start-2p {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "pokemonLogo";
  src: url("Pokemon Solid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --type-fire: #bd5555;
  --type-water: #5590bd;
  --type-grass: #55bd6c;
  --type-electric: #e3d55a;
  --type-psychic: #bd5590;
  --type-ice: #55bdbd;
  --type-dark: #705848;
  --type-fairy: #f4adc9;
  --type-normal: #ffffad;
  --type-fighting: #e75851;
  --type-flying: #d5c9fa;
  --type-poison: #a040a0;
  --type-ground: #e0c068;
  --type-rock: #b8a038;
  --type-bug: #a8b820;
  --type-ghost: #705898;
  --type-steel: #b8b8d0;
  --type-dragon: #7038f8;
}

/* 

#BA7971
#7F92AD
#92B88D
#B7A64D
#BA5F71
#75A8A0
DARK???
#B68486
NORMAL???
FIGHTING
#9F9BAF
#884D7D
#A99B63
#90884A
#829743
#685B78
STEEL??
#6F3DB0

 */

.toggleButton {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.sidebar {
  display: flex;
  justify-content: space-around;
  align-items: left;
  flex-wrap: wrap;
  flex-direction: column;
  width: 250px;
  height: 100vh;
  background: rgba(85, 98, 76, 0.4);
  color: white;
  padding: 26px;
  position: fixed;
  left: -250px;
  top: 0;
  transition: 0.3s;
  z-index: 999;
}

.sidebar.open {
  left: 0;
  border: #000000;
  border-radius: 2px;
}

.settingsButton {
  font-family: "Press Start 2P";
  font-size: 12px;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 8px;
  margin: 0px 30px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.settingsButton:hover {
  background-color: #f0f0f0;
  font-size: 14px;
  transition: all 0.3s ease;
}

.settingsButton:active {
  font-size: 12px;
}

body {
  margin: 0;
  padding: 20px;
  margin-left: 20px;
  background-color: #d5ffdb;
  font-family: "Press Start 2P", system-ui;
}

.title {
  font-family: "pokemonLogo"; /* Use the custom font in your CSS */
  font-size: 90px; /* Example font size */
  color: #ffcc00; /* Example color */
  -webkit-text-stroke: 1px blue; /* outline width + color */
  border-color: blue;
  text-align: center;
  margin-top: 20px;
  text-shadow: 8px 8px 0 #00043b;
}

h2 {
  font-family: "Press Start 2P";
  font-size: 32px;
  color: #333;
  text-align: center;
  margin-top: 10px;
}

.moneyDisplay {
  font-family: "Press Start 2P";
  font-size: 20px;
  color: #333;
  text-align: left;
  margin: 10px 20px 0 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(85, 98, 76, 0.5);
  box-shadow: 20px 10px 10px rgba(11, 37, 3, 0.3);
  padding: 10px;
  border-radius: 8px;
  z-index: 2;
}

.subtitle {
  margin-bottom: 20px;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color: rgba(85, 98, 76, 0.4);
  box-shadow: 20px 10px 10px rgba(11, 37, 3, 0.3);
  margin: 9vh 5vw;
  border-radius: 12px;
}

.card {
  width: 22%;
  min-height: 200px;
  height: 250px;
  background-color: #ffffff;
  box-shadow: 20px 10px 10px rgba(11, 37, 3, 0.364);
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-radius: 12px;
  border: 3px solid rgb(0, 0, 0);
  z-index: 1;
}

.type-fire {
  background-color: var(--type-fire);
}
.type-water {
  background-color: var(--type-water);
}
.type-grass {
  background-color: var(--type-grass);
}
.type-electric {
  background-color: var(--type-electric);
}
.type-psychic {
  background-color: var(--type-psychic);
}
.type-ice {
  background-color: var(--type-ice);
}
.type-dark {
  background-color: var(--type-dark);
}
.type-fairy {
  background-color: var(--type-fairy);
}
.type-normal {
  background-color: var(--type-normal);
}
.type-fighting {
  background-color: var(--type-fighting);
}
.type-flying {
  background-color: var(--type-flying);
}
.type-poison {
  background-color: var(--type-poison);
}
.type-ground {
  background-color: var(--type-ground);
}
.type-rock {
  background-color: var(--type-rock);
}
.type-bug {
  background-color: var(--type-bug);
}

.confirmationButton {
  font-size: 8px;
}

.cardButton {
  font-family: "Press Start 2P";
  font-size: 12px;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.cardButton:hover {
  background-color: #f0f0f0;
  font-size: 14px;
  transition: all 0.3s ease;
}

.cardButton:active {
  font-size: 12px;
}

.cardPokemon {
  font-family: "Press Start 2P";
  font-size: 1.5vw;
  color: #000000;
  text-shadow: #ffffff 1px 1px 0;
  text-align: center;
  margin: 0px 0;
}

.card img {
  width: 150px;
  height: 150px;
}

.levelButton {
  font-family: "Press Start 2P";
  font-size: 12px;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  margin: auto;
}
.levelButton:hover {
  background-color: #f0f0f0;
  font-size: 14px;
  transition: all 0.3s ease;
}
.levelButton:active {
  font-size: 12px;
}

.buttonDiv {
  display: flex;
  flex-direction: column;
}

.actionButton {
  font-family: "Press Start 2P";
  font-size: 16px;
  padding: 10px 50px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  margin: 10px;
}
.actionButton:hover {
  width: 185px;
  font-size: 18px;
}

.actionButton:active {
  font-size: 14px;
}

.subHeader {
  font-family: "Press Start 2P";
  font-size: 24px;
  color: #333;
  text-align: left;
  margin-top: 10px;
  margin-left: 5vw;
}

.Hidden {
  display: none;
}

h3 {
  font-family: "Press Start 2P";
  font-size: 48px;
  color: #333;
  text-align: center;
  text-shadow: #ffffff 3px 3px 0;
  margin: 70px 200px;
  padding: 20px;
  background-color: #00000039;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.smallText {
  font-size: 8px;
  width: 185px;
  padding: 10px;
}
.smallText:hover {
  font-size: 8px;
  width: 185px;
}

.smallText:active {
  font-size: 8px;
  width: 185px;
}

.trivia {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color: rgba(85, 98, 76, 0.4);
  box-shadow: 20px 10px 10px rgba(11, 37, 3, 0.3);
  margin: 9vh 5vw;
  border-radius: 12px;
}

.questionText {
  font-family: "Press Start 2P";
  font-size: 32px;
  color: #333;
  text-align: center;
  margin-top: 10px;
}

.answerButton {
  font-family: "Press Start 2P";
  font-size: 16px;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  margin: 10px;
}
.answerButton:hover {
  font-size: 20px;
  transition: all 0.3s ease;
}
.answerButton:active {
  font-size: 14px;
}

.wrongAnswer {
  background-color: rgb(255, 106, 106);
}

.correctAnswer {
  background-color: #55bd6c;
}

.itemContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color: rgba(85, 98, 76, 0.4);
  box-shadow: 20px 10px 10px rgba(11, 37, 3, 0.3);
  margin: 9vh 5vw;
  border-radius: 12px;
}

.item {
  width: 22%;
  min-height: 200px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 20px 10px 10px rgba(11, 37, 3, 0.364);
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-radius: 12px;
  border: 3px solid rgb(0, 0, 0);
  z-index: 1;
}

.itemButton {
  font-family: "Press Start 2P";
  font-size: 12px;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 8px;

  margin: 0px 30px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.itemButton:hover {
  background-color: #f0f0f0;
  font-size: 14px;
  transition: all 0.3s ease;
}

.itemButton:active {
  font-size: 12px;
}

.itemName {
  font-size: 20px;
}

.itemPrice {
  font-size: 16px;
}

.itemSprite {
  height: 75px;
  width: auto;
}

.itemDesc {
  font-size: 12px;
}

.cartButton {
  font-family: "Press Start 2P";
  font-size: 16px;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  margin: 10px;
  position: fixed;
  top: 50px;
  right: 10px;
  background-color: rgba(85, 98, 76, 0.5);
  box-shadow: 20px 10px 10px rgba(11, 37, 3, 0.3);
  padding: 10px;
  border-radius: 8px;
}

.cartButton:active {
  font-size: 14px;
  right: 0px;
}

.cartButton.open {
  right: 55px;
  background-color: rgba(255, 255, 255, 0.2);
}

.cartButton:hover {
  font-size: 20px;
  right: 35px;
  transition: all 0.3s ease;
}

.cartSlider {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 250px;
  height: 100vh;
  background: rgba(85, 98, 76, 0.4);
  border-color: #000000;
  border-width: 20px;
  color: white;
  position: fixed;
  right: -300px;
  top: 0;
  padding: 125px 26px;
  transition: 0.3s;
  z-index: 999;
}

.cartSlider.open {
  right: 0;
  border: #000000;
}

.cartItem {
  font-size: 18px;
  color: rgb(226, 226, 226);
  text-shadow: 4px 4px #000000;
}

.cartTotal {
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px #000000;
}

.checkoutButton {
  font-family: "Press Start 2P";
  font-size: 16px;
  display: block;
  padding: 10px 10px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 20px 10px 10px rgba(11, 37, 3, 0.3);
  border-radius: 8px;
}

.checkoutButton:hover {
  background-color: #f0f0f0;
  font-size: 14px;
  transition: all 0.3s ease;
}

.checkoutButton:active {
  font-size: 12px;
}

.inventory {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  gap: 20px;
  padding: 20px;
  background-color: rgba(85, 98, 76, 0.4);
  box-shadow: 20px 10px 10px rgba(11, 37, 3, 0.3);
  margin: 9vh 5vw;
  border-radius: 12px;
}

.itemQuantity {
  font-size: 12px;
}

/* 
Fonts:
Press Start 2P - https://fonts.google.com/specimen/Press+Start+2P


*/
