@font-face {
  font-family: "pokemonLogo";
  src: url("Pokemon Solid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: "pokemonLogo"; /* Use the custom font in your CSS */
  font-size: 48px; /* Example font size */
  color: #ffcc00; /* Example color */
  -webkit-text-stroke: 1px blue; /* outline width + color */
  border-color: blue;
}

/* 
Fonts:
Press Start 2P - https://fonts.google.com/specimen/Press+Start+2P


*/
